{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'lib/jquery-3.6.0.min.js' %}"></script>
    <title>ゲーム画面</title>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <link rel="shortcut icon" href="{% static 'picture/RIST.png' %}" type="image/x-icon">
    {% if isAdmin %}
    <!-- 安川さんへ、管理者用のCSSを作るなら下記のCSSファイルに記述してください -->
        <link rel="stylesheet" href="{% static 'css/game_admin.css' %}">
    
    
    {% endif %}
</head>
<body>
    <h1>ゲーム画面</h1>
    {% if isAdmin %}
        <h2 class="admin-mode">管理人モード</h2>
    {% endif %}
    <div class="chat-content">
        <div class="arrow-btn">

        </div>

        <h2>グループ <span id="roomName">{{room_name}}</span>:<span id="chapterNum"></span></h2>
        {% if isAdmin %}
            <button id="nextOk-btn" data-now="chat"><div class="nextOk-btn-inner"><p>!</p></div></button>
            
        {% endif %}
        <!-- チャットの一覧↓ -->
        <div class="chat-content-inner">
            <div class="chat-side">
                <ul class="chat">

                </ul>
                <input type="text" id="chat-text" placeholder="メッセージを入力">
                <button id="chat-btn"></button>
            </div>
            {% if isAdmin %}
                <div class="confirm-side">
                    <p>次の章へ進むのを許可しますか？</p>
                    <div class="admin-btns-wrapper">
                        <button id="next-chapter-ok"><div class="btn-ok-no-inner"><p>OK</p></div></button>
                        <button id="next-chapter-no"><div class="btn-ok-no-inner"><p>NO</p></div></button>
                    </div>
                    
                </div>
            {% endif %}
        </div>

    </div>

    <div class="scene-content">
        <!-- 背景画像↓ -->
        <div class="bg-img-wrapper">
            <img src="" id="background-img">
        </div>
        

        <div class="speech">
            <!-- キャラクター名↓ -->
            <div class="character-wrapper">
                <div class="character-name">
                
                </div>
            </div>
            <div class="outdesign"></div>
            

            <!-- セリフ -->
                <div class="words">

                </div>

            <button id="next-chapter">YES</button>

            <!-- 次のセリフへ進むボタン -->
            
            <button id="next-btn">次へ</button>
            

            <!-- ログを表示するボタン -->
            <div class="log-btn-wrapper">
                <button id="log-btn">Log</button>
            </div>
            
        </div>
    </div>

    <!-- ばっしーへ、セリフのログはここに書いてほしい -->
    <div class="log">
        <ul class="chat-log">

        </ul>
    </div>

    <div class="exit">
        <button id="exit-btn">ゲーム終了</button>
    </div>

    <script src="{% static 'js/game.js' %}"></script>
    <!-- 管理者とユーザで別々のJSを使う -->
    {% if isAdmin %}
        <script src="{% static 'js/game_admin.js' %}"></script>
    {% else %}
        <script src="{% static 'js/game_user.js' %}"></script>
    {% endif %}
</body>
</html>