{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'lib/jquery-3.6.0.min.js' %}"></script>
    <title>Document</title>
</head>
<body>
    <h1>待機画面</h1>
    <h2 id="roomname" name="roomname">部屋名:<span>{{room_name}}</span></h2>
    <h2>現在の人数<span id="userNum">1</span>名</h2>

    <button id="start">開始</button>

    <!-- <script src="{% static 'js/room.js' %}"></script> -->
    <script src="{% static 'js/room2.js' %}"></script>
</body>
</html>